[Unit]
Description=My Site Toolkit

[Service]
Type=forking
ExecStart=/git/mysite/run.sh --start
ExecReload=
ExecStop=/git/mysite/run.sh --stop
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target

