<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<script type="text/javascript">
    function del() {
        var msg = "Confirm to delete?";
        if (confirm(msg) == true) {
            return true;
        } else {
            return false;
        }
    }
</script>

<title>MySite</title>
<h1>My Filezella</h1>
<form action={{ url_for('blue_filezilla.cmd_upload') }} method="post" enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>
<br>

<table border="1">
    <tr>
        <th>index</th>
        <th>filename</th>
        <th>size</th>
        <th>mtime</th>
        <th>operation</th>
    </tr>
    {% for file in filelist %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>&nbsp;{{ file.name }}&nbsp;</td>
            <td>&nbsp;{{ file.stat.st_size }}&nbsp;</td>
            <!-- <td>&nbsp;{{ file.stat.st_mtime }}&nbsp;</td> -->
            <td>&nbsp;{{ file.stat.st_mtime|timeformat }}&nbsp;</td>
            <td>
                &nbsp;
                <a href="{{ url_for('blue_filezilla.cmd_view', filename=file.name) }}">view</a>&nbsp;
                <a href="{{ url_for('blue_filezilla.cmd_download', filename=file.name) }}">download</a>&nbsp; &nbsp;
                {% if file not in forbidden_del %}
                    <a href="{{ url_for('blue_filezilla.cmd_delete', filename=file.name) }}" style="color: orangered"
                       οnclick="javascript: return del()">delete</a>&nbsp;
                {% endif %}
            </td>
        </tr>
    {% else %}
    {% endfor %}
</table>
<a href="{{ url_for('blue_filezilla.vf_index') }}">refresh</a>
</html>

